{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Search results</h1>
<div class="posts">
    {% for post in posts %}
    <article>
        <a href="#" class="image"><img src="{{ post.get_image }}" style="width:200px; height:200px;" alt="" /></a>
        <h3>{{ post }}</h3>
        <p>{{ post.description|truncatewords:10}}</p>
        <ul class="actions">
            <li><a href="{% url 'detail' post.id %}" class="button">More</a></li>
        </ul>
    </article>
    {% endfor %}
</div>
{% endblock %}